# Gradle files
.gradle/
build/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Local configuration file (sdk path, etc)
local.properties

# Gradle build properties
gradle.properties

fabric.properties

app/release.jks

# Log Files
*.log
