*, html {
    margin:0 !important;
    padding:0 !important;  
}
body {
  color: rgba(0, 0, 0, 222); //primary_text_default_material_light
}
img {
  max-width: 100%;
}
table {
  margin-top: 10px !important;
  display: block;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word !important;
}
table td {
  vertical-align: top;
}
table td img {
  max-width: 100% !important;
}
table td:last-child {
  border-right: none !important;
}