<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.zno_ua.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM -->

    <application
        android:name=".ZNOApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/zno"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">
        <provider
            android:name=".provider.ZNOProvider"
            android:authorities="${applicationId}.ZNOProvider"
            android:exported="false"
            android:label="@string/zno_db"
            android:syncable="true" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.TransparentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SubjectActivity"
            android:theme="@style/AppTheme.TransparentStatus" />
        <activity
            android:name=".activity.TestingActivity"
            android:label="@string/empty"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="net.zno_ua.app.VIEW_TEST" />
                <action android:name="net.zno_ua.app.PASS_TEST" />
                <action android:name="net.zno_ua.app.CONTINUE_PASSAGE_TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/settings" />

        <service
            android:name=".service.APIService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="net.zno_ua.app.RESTART_PENDING_REQUESTS" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.ViewImageActivity"
            android:label="@string/empty"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="image" />
            </intent-filter>
        </activity>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GcmRegistrationService"
            android:exported="false" />
        <!-- GCM -->
        <!-- GA -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- GA -->
        <!-- AdMob-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- AdMob -->
        <!-- CustomTabs -->
        <service android:name="org.chromium.customtabsclient.shared.KeepAliveService" />
        <!-- CustomTabs -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc6deab60a7c1383cf60768b549b40d510f44e1e" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>