<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zno_ua.app"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.zno_ua.app.ZNOApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/zno"
        android:theme="@style/MainTheme">

        <activity
            android:name="net.zno_ua.app.MainActivity"
            android:label="@string/zno"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.zno_ua.app.LessonsActivity"
            android:label="@string/testing_activity_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zno_ua.app.MainActivity" />
        </activity>
        <activity
            android:name="net.zno_ua.app.TestsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zno_ua.app.LessonsActivity" />
        </activity>

        <activity
            android:name="net.zno_ua.app.RecordsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zno_ua.app.MainActivity" />
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="net.zno_ua.app.VIEW_PASSED_TESTS" />
                <action android:name="net.zno_ua.app.VIEW_BEST_SCORES" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.zno_ua.app.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zno_ua.app.TestsActivity" />
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="net.zno_ua.app.VIEW_TEST" />
                <action android:name="net.zno_ua.app.PASS_TEST" />
                <action android:name="net.zno_ua.app.CONTINUE_PASSAGE_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.zno_ua.app.ViewImageActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="open.image" />
            </intent-filter>
        </activity>

        <service
            android:name="net.zno_ua.app.service.ApiService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="api.CHECK_FOR_UPDATES" />
            </intent-filter>
        </service>

        <receiver android:name="net.zno_ua.app.NetWatcher">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>